@font-face {
    font-family: 'mediaeval';
    font-style: normal;
    font-weight: 400;
    src: url('Goudy Mediaeval Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mediaeval-demibold';
    font-style: normal;
    font-weight: 700;
    src: url('Goudy Mediaeval DemiBold.ttf') format('truetype');
}

html {
    background-color: #313131;
    color: #e0e0e0;
}

article {
    width: 300px;
    margin: 0 auto;
}

header {
    margin-bottom: 30px;
}

h1 {
    margin: 0;
}

#subtitle {
    margin: 0;
    font-size: 0.9em;
    color: #c0c0c0;
}

#actions {
    margin-bottom: 30px;
}

#boosters {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.booster ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
}

.card {
    padding: 12px;
    border-radius: 18px;
    background-color: #040404;
}

.card-content {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.card-name {
    margin: 0;
    color: #94918b;
    font-family: mediaeval, Times, serif;
    font-size: 17px;
    text-shadow: 1px 1px #040404;
}

.color-white {
    background-color: #d4c8c1;
}

.color-blue {
    background-color: #3c8eab;
}

.color-black {
    background-color: #3c3b39;
}

.color-red {
    background-color: #af505f;
}

.color-green {
    background-color: #3b6653;
}

.color-artifact {
    background-color: #6f4c40;
}

.color-land {
    background-color: #8a8079;
}
