@font-face {
    font-family: 'mediaeval';
    font-style: normal;
    font-weight: 400;
    src: url('Goudy Mediaeval Regular.ttf') format('truetype');
}

html {
    background-color: #313131;
    color: #e0e0e0;
}

article {
    max-width: 360px;
    margin: 0 auto;
}

header {
    margin-bottom: 30px;
}

h1 {
    margin: 0;
}

#subtitle {
    margin: 0;
    font-size: 0.9em;
    color: #c0c0c0;
}

#actions {
    margin-bottom: 30px;
}

#boosters {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.booster {
    width: full;
    max-width: 360px;
}

.booster ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
}

.card {
    padding: 12px;
    border-radius: 18px;
    background-color: #040404;
}

.card-box {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.card-cost {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.card-name {
    margin: 0;
    color: #94918b;
    font-family: mediaeval, Times, serif;
    font-size: 17px;
    text-shadow: 1px 1px #040404;
}

.color-white {
    background-color: #d4c8c1;
}

.color-blue {
    background-color: #3c8eab;
}

.color-black {
    background-color: #3c3b39;
}

.color-red {
    background-color: #af505f;
}

.color-green {
    background-color: #3b6653;
}

.color-artifact {
    background-color: #6f4c40;
}

.color-land {
    background-color: #8a8079;
}

.mana-symbol {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
    font-size: 100%;
    background-image: url('./mana.svg');
    background-repeat: no-repeat;
    background-size: auto 700%;
}

.mana-symbol.s0 { background-position: 0 0; }
.mana-symbol.s1 { background-position: 11.1% 0; }
.mana-symbol.s2 { background-position: 22.2% 0; }
.mana-symbol.s3 { background-position: 33.3% 0; }
.mana-symbol.s4 { background-position: 44.4% 0; }
.mana-symbol.s5 { background-position: 55.5% 0; }
.mana-symbol.s6 { background-position: 66.6% 0; }
.mana-symbol.s7 { background-position: 77.7% 0; }
.mana-symbol.s8 { background-position: 88.8% 0; }
.mana-symbol.s9 { background-position: 99.9% 0; }
.mana-symbol.s10 { background-position: 0 16%; }
.mana-symbol.sx { background-position: 11.1% 33.3%; }
.mana-symbol.sw { background-position: 66.6% 83.3%; }
.mana-symbol.su { background-position: 55.5% 33.3%; }
.mana-symbol.sb { background-position: 66.6% 33.3%; }
.mana-symbol.sr { background-position: 77.7% 33.3%; }
.mana-symbol.sg { background-position: 88.8% 33.3%; }
