@font-face {
    font-family: 'mediaeval';
    font-style: normal;
    font-weight: 400;
    src: url('Goudy Mediaeval Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mediaeval-demibold';
    font-style: normal;
    font-weight: 700;
    src: url('Goudy Mediaeval DemiBold.ttf') format('truetype');
}

html {
    background-color: #313131;
    color: #e0e0e0;
}

article {
    width: 300px;
    margin: 0 auto;
}

header {
    margin-bottom: 30px;
}

h1 {
    margin: 0;
}

#subtitle {
    margin: 0;
    font-size: 0.9em;
    color: #c0c0c0;
}

#actions {
    margin-bottom: 30px;
}

#boosters {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.booster {
    max-width: 300px;
}

.booster ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
}

.booster li {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #b1a89b;
    font-family: mediaeval, Times, serif;
    text-shadow: 1px 1px #040404;
    border-radius: 6px;
    background-color: #393837;
}

.booster li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 8px;
    border-radius: 6px 2px 2px 6px;
    background-color: #e8e6df;
}

.booster li.color-white::before {
    background-color: #e8e6df;
}

.booster li.color-blue::before {
    background-color: #3b82f6;
}

.booster li.color-black::before {
    background-color: #262524;
}

.booster li.color-red::before {
    background-color: #c83625;
}

.booster li.color-green::before {
    background-color: #2aa043;
}

.booster li.color-artifact::before {
    background-color: #855d40;
}

.booster li.color-land::before {
    background-color: #b29b6f;
}
